{% extends 'base.html' %}

{% block title %} Members {% endblock %}

{% block content %}
<table class="w-full min-w-max border-collapse">
    <thead>
        <tr>
            <th class="border border-gray-300 p-2 font-bold min-w-0">User ID</th>
            <th class="border border-gray-300 p-2 font-bold min-w-0">Username</th>
            <th class="border border-gray-300 p-2 font-bold min-w-0">First Name</th>
            <th class="border border-gray-300 p-2 font-bold min-w-0">Last Name</th>
            <th class="border border-gray-300 p-2 font-bold min-w-0">Email</th>
            <th class="border border-gray-300 p-2 font-bold min-w-0">Is allowed access?</th>
            <th class="border border-gray-300 p-2 font-bold min-w-0">Is Staff?</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td class="border border-gray-300 p-2 min-w-0">{{ user.id }}</td>
            <td class="border border-gray-300 p-2 min-w-0">{{ user.username }}</td>
            <td class="border border-gray-300 p-2 min-w-0">{{ user.first_name }}</td>
            <td class="border border-gray-300 p-2 min-w-0">{{ user.last_name }}</td>
            <td class="border border-gray-300 p-2 min-w-0">{{ user.email }}</td>
            <td class="border border-gray-300 p-2 min-w-0">
                <div>
                {{ user.userprofile.is_verified }}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="verify_user">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button class="bg-gray-600 text-white rounded-md p-1.5" type="submit">Toggle</button>
                    </form>
                </div>
            </td>
            <td class="border border-gray-300 p-2 min-w-0">
                <div>
                    {{ user.is_staff }}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="make_staff">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <button class="bg-gray-600 text-white rounded-md p-1.5" type="submit">Toggle</button>
                    </form>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No users found.</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}
