{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="flex flex-row items-center">
        <div class="p-1">
            <h1 class="text-2xl font-bold">{{ sheet_name }}</h1>
            <p class="text-sm">Created on: {{ sheet_date }}</p>
        </div>
        <div class="p-1">
            <button onclick="showModal()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Upload Files</button>
            <a href="https://docs.google.com/spreadsheets/d/{{ sheet_id }}" target="_blank"> <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Open in Google Sheets</button></a>
        </div>
    </div>

    <br>
    <br>
    <!-- Sheet -->
    <div>
        <table class="table-auto w-full">
            {% if sheet_data %}
                <thead>
                    <tr class="flex">
                        {% for cell in sheet_header %}
                        {% if cell %}
                        <th class="border border-gray-400 flex-1 font-bold">{{ cell }}</th>
                        {% else %}
                        <th class="border border-gray-400 flex-1">&nbsp;</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in sheet_data %}
                    <tr class="flex">
                        {% for cell in row %}
                            {% if cell %}
                            <td class="border border-gray-400 flex-1">{{ cell }}</td>
                            {% else %}
                            <td class="border border-gray-400 flex-1">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            {% else %}
            <p>No data found</p>
            {% endif %}
        </table>
    </div>

    <!-- Upload Popup -->
    <div id="modal" class="fixed inset-0 bg-black/50 hidden items-center justify-center">
        <div class="bg-white p-6 rounded-lg max-w-md w-full mx-4">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-bold">Upload Files (.csv)</h2>
                <button onclick="hideModal()" class="text-gray-500 hover:text-gray-700">&times;</button>
            </div>
            <div class="mb-4">
                <!-- Your HTML content here -->
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <label for="file-input" class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 inline-block">
                        Choose File
                        <input id="file-input" type="file" class="hidden" name="uploaded_file" onchange="showFileName(this)">
                    </label>
                    <span id="file-name" class="ml-2 text-gray-600"></span>
                    <button class="border border-gray-400 text-gray-400 rounded-md p-1.5" type="submit">Upload</button>
                </form>
            </div>
            <button onclick="hideModal()" class="bg-gray-500 text-white px-4 py-2 rounded">Close</button>
        </div>
    </div>


    <script>
        //script for opening up popup
        function showModal() {
            document.getElementById('modal').classList.remove('hidden');
            document.getElementById('modal').classList.add('flex');
        }
        function hideModal() {
            document.getElementById('modal').classList.add('hidden');
            document.getElementById('modal').classList.remove('flex');
        }

        //function for showing selected file name next to upload button
        function showFileName(input) {
           const fileNameSpan = document.getElementById('file-name');
           fileNameSpan.textContent = input.files.length > 0 ? input.files[0].name : '';
        }
    </script>
{% endblock %}