{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% tailwind_css %}
</head>
<body>
    <header>
    <div class="bg-white text-gray-700">
        <nav class="flex justify-between items-center p-4">
        
            <div class="flex space-x-4">    
                <a class="flex items-center space-x-2 px-4 py-2 rounded-lg hover:bg-gray-200 hover:text-white transition-all duration-200" href="{% url 'home' %}">
                    <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                    </svg>
                    <span>Home</span>
                </a>
            </div>
        
            <div class="flex space-x-4">
                {% if user.is_authenticated %}
                    <a class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-200 hover:!text-white hover:border-gray-700 transition-all duration-200" href="{% url 'profile' %}">Profile</a>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-200 hover:!text-white hover:border-gray-700 transition-all duration-200" type="submit">Logout</button>
                    </form>
                {% else %}
                    <a class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-200 hover:!text-white hover:border-gray-700 transition-all duration-200" href="{% url 'login_user' %}">Login</a>
                    <a class="px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-200 hover:!text-white hover:border-gray-700 transition-all duration-200" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </div>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>